<%= simple_form_for (@customer) do |f| %>
<% if @customer.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

	<ul>
		<% @customer.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="row-fluid">
	<div class="span12">
		<%= f.input :nome, label: 'Nome' %>
	</div>
</div>
<div class="row-fluid">
	<div class="span9">
		<%= f.input :endereco, label_html: { class: 'width: 100%' } %>
	</div>
	<div class="span3">
		<%= f.label :numero %>
		<br />
		<%= f.text_field :numero %>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<%= f.label :bairro %>
		<br />
		<%= f.text_field :bairro %>
	</div>
</div>
<div class="row-fluid">
	<div class="span3">
		<%= f.label :city %>
		<br />
		<%= f.association :city %>
		<%= f.select(:city_id, City.all.collect { |c| [c.cidade, c.id] }) %>
	</div>
	<div class="span6">
		<%= f.label :cidade %>
		<br />
		<%= f.text_field :cidade %>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<%= f.label :obs %>
		<br />
		<%= f.text_field :obs %>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<%= f.submit :class => 'btn btn-success' %>
	</div>
</div>
</div>
<% end %>
