<h1>Categorias</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category_products.each do |category_product| %>
  <tr>
    <td><%= category_product.nome %></td>
    <td><%= link_to 'Show', category_product %></td>
    <td><%= link_to 'Edit', edit_category_product_path(category_product) %></td>
    <td><%= link_to 'Destroy', category_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Categoria', new_category_product_path, :class => 'btn btn-success'  %>
